html, body {
 width: 100%; overflow-x: hidden; 
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}

.header {
 background: #003399;
 color: white;
 padding: 20px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap; width: 100vw; 
 }
.header-top {
 display: flex;
 align-items: center;
 gap: 30px;
}
img {
 width: 60px;
 height: auto;
}
.nav {
 display: flex;
 flex-wrap: wrap;
 margin: 0;
}

.nav a {
 margin: 10px;
 padding: 14px;
 border: none;
 text-decoration: none;
 border-radius: 12px;
 background: #e0e5ec;
 box-shadow: inset 5px 5px 10px #b8bcc2, inset -5px -5px 10px #e6e6e6;
 cursor: pointer;
 font-weight: bold;
 transition: 0.3s ease;
 color: #000080;
 width: 100px;
}
.nav a:hover {
 background: #d1d9e6;
 box-shadow: inset 5px 5px 10px #b8bcc2, inset -5px -5px 10px #ffffff;
 transform: scale(0.97);
}
.content {
 width: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr;
 margin: 20px auto;
 gap: 20px;
}
.login-box, .social-box {
 border: 1px solid lightgray;
 padding: 20px;
}
.input {
 padding: 14px 15px;
 border: none;
 border-radius: 12px;
 background: #e0e5ec;
 box-shadow: inset 5px 5px 10px #b8bcc2, inset -5px -5px 10px #e6e6e6;
 outline: none;
 font-size: 14px;
 width: 500px;
 text-align: center;
 display: grid;
 place-items: center;
 margin-bottom: 40px;
}
button, select {
 padding: 14px;
 border: none;
 border-radius: 12px;
 background: #e0e5ec;
 box-shadow: inset 5px 5px 10px #b8bcc2, inset -5px -5px 10px #e6e6e6;
 cursor: pointer;
 font-weight: 840;
 transition: 0.3s ease;
 color: #000080;
 width: 100px;
 display: block;
 margin: 20px auto;
}
button:hover, select:hover {
 background: #d1d9e6;
 box-shadow: inset 5px 5px 10px #b8bcc2, inset -5px -5px 10px #ffffff;
 transform: scale(0.97);
}
.social-box a {
 margin: 10px;
 padding: 14px;
 border: none;
 text-decoration: none;
 border-radius: 12px;
 background: #e0e5ec;
 box-shadow: inset 5px 5px 10px #b8bcc2, inset -5px -5px 10px #e6e6e6;
 cursor: pointer;
 font-weight: bold;
 transition: 0.3s ease;
 color: #000080;
 width: 100px;
}

.social-box a:hover {
 background: #d1d9e6;
 box-shadow: inset 5px 5px 10px #b8bcc2, inset -5px -5px 10px #ffffff;
 transform: scale(0.97);
}

.video {
 margin-top: 30px;
 margin-bottom: 20px;
 position: relative;
 padding-bottom: 56.25%;
 height: 0;
 overflow: hidden;
}

.video iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border: 0;
}

#menu {
 position: relative;
 display: inline-block;
 margin-left: 5px;
 padding: 10px 20px;
 font-size: 14px;
 border: none;
 cursor: pointer;
 width: 220px;
}

footer {
 padding: 20px;
 text-align: center;
 background: #003399;
 color: white;
 width: 100vw;
}

table {
 width: 98%;
 border-collapse: collapse;
 margin: 10px;
 font-size: 16px;
}

table th {
 background-color: #99ccff;
 color: black;
 padding: 12px;
}

table td {
 background-color: #e0e5ec;
 color: #000080;
 padding: 12px;
 text-align: center;
}

.info-row {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 margin-top: 10px;
}

.right-logout {
 margin-right: 5px;
 height: 44px;
 padding: 0 18px;
}

.info-row select,
.info-row button {
 height: 44px;
 box-sizing: border-box;
}

/* Responsive */
@media screen and (max-width: 600px) {
 .content {
 grid-template-columns: 1fr;
 }

 .nav {
 margin-top: 10px;
 }

 .input {
 width: 400px;
 }
}
